<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--<startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>-->
  <appSettings>
    <add key="connect" value="0"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    
    <add key="sms_service_user_name" value="t1cesssm"/>
    <add key="sms_service_user_password" value="53735902"/>
    <add key="sms_service_sender_id" value="CESSSM"/>
    <add key="sms_service_base_uri" value="http://sms4power.com/api/"/>
    <add key="sms_service_send_single_endpoint" value="swsendUni2.asp"/>
    <add key="sms_service_check_balance_endpoint" value="checkbalance.asp"/>
  </appSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  <connectionStrings>
    <!--<add name="DatabaseConnect" providerName="System.Data.SqlClient" connectionString="Data Source=184.95.53.181;Initial Catalog=kagsys_;User Id=sandeep;Password=Admin@123"/>-->
   <add name="DatabaseConnect" providerName="System.Data.SqlClient" connectionString="Data Source=LAPTOP-P35AR6BE;Initial Catalog=SCHOOLDEV06AUG2020;Integrated Security=True;"/>
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WeifenLuo.WinFormsUI.Docking" publicKeyToken="5cded1a1a0a7b481" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.4.0" newVersion="3.0.4.0"/>
      </dependentAssembly>
    </assemblyBinding>
   <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  </assemblyBinding> 
  </runtime>
</configuration>
